body{
    background-color: rgb(248, 215, 245);
}
h1{
    color:darkmagenta;
    text-decoration-line: overline;
    text-align: center;
}
h2{
    color: rgb(167, 16, 79);
    text-align: center;
}
p{
    font-size: 35px;
    text-align: center;
}
h3{
    text-align: center;
    color: rgb(0, 0, 0);
}

div {
    text-align: center;
}

h4{
    text-align: center;
    color: rgb(148, 52, 238);
}